body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    padding-top: 15%;
    background-color: lightgray;
}

.usernameDiv, .passwordDiv{
    flex-direction: row;
}

.alert{
    color:red;
    margin-bottom: 10px;
}

.title{
    margin-bottom: 10px;
}