body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    padding-top: 15%;
    background-color: lightgray;
}

.button {
    flex-direction: row;
}

.specificButton {
    padding: 5px;
    margin: 5px;
    text-decoration: none !important;
}

a:link { text-decoration: none !important; }


a:visited { text-decoration: none !important; }


a:hover { text-decoration: none !important; }


a:active { text-decoration: none !important; }

